<a href="https://colab.research.google.com/github/Ann-Bond-coder/Artificial-intelligence/blob/main/Bondarenko_AI(lab5)_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Виконати імпорт необхідних бібліотек.
import pandas as pd
import numpy as np
import os

from google.colab import drive
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Виконати підключення до Google Drive, створити необхідні змінні 
drive.mount('/content/gdrive')
anime = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/data/anime.csv")

anime.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [ ]:
#1. Create a new instance of the TfidfVectorizergenre class.
vectorizer = TfidfVectorizer(
stop_words='english',
sublinear_tf=True,
strip_accents='unicode',
analyzer='word',
token_pattern=r'\w{2,}', 
ngram_range=(1, 1),
max_features=30000,
)

In [ ]:
#2. Select genre feature from anime.csv, output the first 5 rows.
overview = anime["genre"]
overview.head(5)

0                 Drama, Romance, School, Supernatural
1    Action, Adventure, Drama, Fantasy, Magic, Mili...
2    Action, Comedy, Historical, Parody, Samurai, S...
3                                     Sci-Fi, Thriller
4    Action, Comedy, Historical, Parody, Samurai, S...
Name: genre, dtype: object

In [ ]:
#3. Check if there are missing values in the genre feature.
overview.isnull().any()

True

In [ ]:
#4. If it's true, fill them in by using the appropriate instance of the SimpleImputer class.
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy="constant",fill_value="")
overview1=imputer.fit_transform((overview.values).reshape(-1,1))

In [ ]:
#5. Call the fit() function in order to learn a vocabulary.

vectorizer.fit(overview1[:,0])

TfidfVectorizer(max_features=30000, stop_words='english',
                strip_accents='unicode', sublinear_tf=True,
                token_pattern='\\w{2,}')

In [ ]:
#6. Call the transform() function to encode it.

word_features = vectorizer.transform(overview1[:,0])
word_features

<12294x46 sparse matrix of type '<class 'numpy.float64'>'
	with 40418 stored elements in Compressed Sparse Row format>

In [ ]:
#7. Output the length of a vocabulary.

print(len(vectorizer.vocabulary_))

46

In [ ]:
#8. Output the first 5 values of a vocabulary.
for x, y in list(vectorizer.vocabulary_.items())[:5]:
  print(x,y)

drama 8
romance 30
school 32
supernatural 41
action 0

In [ ]:
#9. Create a new DataFrame to store info about the relationship between 'word' and 'weight'.
token_weight = pd.DataFrame(anime.items(), columns=['word','weight'])
token_weight.head(3)

       word                                             weight
0  anime_id  0        32281
1         5114
2        28977
3...
1      name  0                                           Ki...
2     genre  0                     Drama, Romance, School, ...

In [ ]:
#10. Find the maximum value for each of the features across the entire set.
max_val = word_features.max(axis=0).toarray().ravel()
max_val

array([1.        , 1.        , 0.81692326, 0.70710678, 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 0.70710678, 1.        , 1.        , 1.        ,
       1.        , 1.        , 0.91598014, 1.        , 0.70710678,
       1.        , 0.70710678, 1.        , 1.        , 1.        ,
       1.        , 1.        , 0.93330801, 0.67217652, 1.        ,
       1.        , 1.        , 1.        , 0.70710678, 1.        ,
       1.        , 1.        , 0.70710678, 1.        , 1.        ,
       0.67217652, 1.        , 1.        , 1.        , 1.        ,
       0.89181061])

In [ ]:
#11. Sort weights from smallest to biggest and extract their indices.

sort_by_tfidf = max_val.argsort()
sort_by_tfidf

array([28, 40,  3, 21, 11, 33, 19, 37,  2, 45, 17, 27, 29, 30, 31, 35, 34,
       36, 38, 39, 41, 42, 43, 32, 26,  0, 24,  1,  4,  5,  6,  7,  8,  9,
       10, 12, 13, 14, 15, 16, 18, 20, 44, 23, 25, 22])

In [ ]:
#12. Output the first 5 features with the lowest tfidf.

feature_names=np.array(vectorizer.get_feature_names_out())
print("Features with lowest tfidf:\n{}".format(feature_names[sort_by_tfidf[:5]]))

Features with lowest tfidf:
['power' 'super' 'arts' 'martial' 'fi']

In [ ]:
#13. Output the first 10 features with the highest tfidf.
print("\nFeatures with highest tfidf: \n{}".format(feature_names[sort_by_tfidf[-10:]]))

Features with highest tfidf:
['harem' 'hentai' 'historical' 'horror' 'kids' 'magic' 'yaoi' 'military'
 'mystery' 'mecha']